.container{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  &--header{
    background-image: url("../img/content/head-slide1.png");
    background-position: -531px 20px;
    background-repeat: no-repeat;
  }
  &--portfolio-slider{
    padding-top: 40px;
  }
  &--service{
    padding-top: 42px;
  }
  &--contacts{
    background-image: url("../img/content/kitchen-brume.png");
    background-position: -531px 20px;
    background-repeat: no-repeat;
  }
  &--video{
    height: 620px;
    background-image: url("../img/content/video.jpg");
    background-repeat: no-repeat;
    background-size: 509%;
    background-position-x: -426px;
  }
  &--stages-of-work{
    padding-top: 81px;
    padding-bottom: 63px;
  }
  &--reviews{
    padding: 103px 0 31px;
  }
  &--footer{
    padding: 50px 30px 40px;
    background-color: #182c3d;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
