.container{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  &--header{
    background-image: url("../img/content/head-slide1.png");
    background-position: -531px 20px;
    background-repeat: no-repeat;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
