.header{

}
.header__upper{
}
.header__logo-toggle{
  display: flex;
  height: 115px;
}
.header__toggle{
  position: relative;
  padding: 15px 0 0 15px;
  width: 70px;
  background-color: #2b3d4d;
  &-button{
    position: absolute;
    width: 32px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: cover;
    &--cross{
      display: none;
      background-image: url("../img/decor/close.png");
    }
    &--hamburger{
      background-image: url("../img/decor/hamburger.png");
    }
  }
}
.header__bottom{
  display: flex;
  flex-direction: column;
  &-menu-link{
    display: block;
    margin: 0 auto;
    width: 223px;
    height: 54px;
    padding: 10px 20px;
    box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
    background-color: #f8a25a;
    color: #ffffff;
    font-family: $link-ff;
    font-size: 14px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    // Text style for "ЗАКАЗАТЬ Д"
    letter-spacing: 1.34px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
