.logo{
  width: 250px;
  height: inherit;
  &__image{
    padding: 15px 0 0 15px;
    width: 77px;
    height: 23px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
}
