.service-slider{
  padding-top: 27px;
  padding-bottom: 30px;
  &__items-names{
    @extend %fl-col;
    @extend %side-padding;
    padding-bottom: 46px;
  }
  &__slide{
    display: none;
  }
  &__item-name{
    padding: 7px 0;
    color: #7d7d7d;
    font-family: $content-ff;
    font-size: 22px;
    font-weight: 300;
    &--active{
      color: $section-title-color;
      font-family: $article-title-ff;
      font-size: 22px;
      font-weight: 600;
    }
  }
  &__slide-description{
    margin: 25px 0 45px;
    @extend %side-padding;
    color: #5e5e5e;
    font-family: $content-ff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }
  &__image-wrapper{
    height: 390px;
    overflow: hidden;
  }
  &__slide-image{
    height: 200%;
    width: 200%;
  }
  &__item-link{
    display: block;
    width: 217px;
    height: 56px;
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #112537;
    color: $section-title-color;
    font-family: $link-ff;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    // Text style for "КОНСУЛЬТАЦ"
    letter-spacing: 2.25px;
  }
}
input.service-form__checkbox:checked + label.service-form__label{
  color: $section-title-color;
  font-family: $article-title-ff;
  font-size: 22px;
  font-weight: 400;
}
.service-slider__slide--active{
  display: block;
}
li.service-slider__item-name{
  @extend %service-slider-padding;
  padding: 16px 0;
}
